body{
    margin-left: 120px;
    margin-right: 120px;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.0;
}

.rounded-img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.skills li {
    text-align:  justify;
}
.experience li{
    margin: 15px;
}

.footer{
    margin-top: 50px;
}
